header {
  display: flex;
  justify-content: space-between;
  min-width: 800px;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.navbar li {
  padding: 10pt;
  border-width: thin;
  border-style: solid;
  margin: 20pt;
  background-color: brown;
}

main {
  width: 95%;
  margin-left: 2.5%;
  min-width: 800px;
  display: flex;
  border-style: dotted;
  padding: 5px;
}

.results {
  padding: 30px;
  margin: 5px;
  background-color: lightgreen;
  border-style: ridge;
  flex-grow: 0;
  flex-shrink: 0;
}

.pictures {
  background-color: orange;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-around;
  padding: 20px;
  margin-top: 5px;
  margin-right: 5px;
}

.imgholder {
  width: 200px;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 5px;
}

.picture {
  width: 100%;
  border-style: solid;
}

.info {
  background-color: pink;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10pt;
  font-family: serif;
  margin-right: 5px;
}
